html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  background-color: skyblue; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #84c1f0; 
  color: white;
  padding: 2rem 0;
  text-align: center;
}

.footer a {
  color: inherit;
  margin: 0 1rem;
}

.footer a:hover {
  text-decoration: underline;
}


.Home {
  background-color: #ffffff; 
  padding: 2rem;
}

.Home .section {
  background-color: #00C4CC; 
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  text-align: left;
}

.Home .section img {
  height: 200px;
  width: auto;
  margin-right: 1rem;
}

.Home .section .text {
  color: white;
}

.Home .cards {
  margin-top: 2rem;
}

.Home .card {
  margin-bottom: 2rem;
}

.Home .subscribe-button {
  background-color: #00C4CC;
  color: white;
  margin-bottom: 2rem;
}

.Home .subscribe-button:hover {
  background-color: #00B2B8;
}


.square-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}


.square-box .store-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px; 
  height: 300px; 
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}
